# Add Title

In [4]:
import sqlite3
import pandas as pd
import seaborn as sns
import data_processing # This is local...

In [5]:
# Setting all the parameters
lambda_director   = 0.000408
lambda_writers    = 0.000377
lambda_cast_time  = 0.000592
lambda_cast_order = 0.122

In [15]:
director_query = """
WITH past_movie AS (
    SELECT 
        m.movie_id,
        mc1.person_id AS director_id, 
        pm.vote_average,
        pm.release_date AS prev_release_date,
        m.release_date AS current_release_date,
        JULIANDAY(m.release_date) - JULIANDAY(pm.release_date) AS days_difference
    FROM movie m
    JOIN movie_crew mc1 ON m.movie_id = mc1.movie_id  
    JOIN movie_crew mc2 ON mc1.person_id = mc2.person_id  
    JOIN movie pm ON mc2.movie_id = pm.movie_id  
    WHERE mc1.job IN ('Director', 'Co-Director') 
      AND mc2.job IN ('Director', 'Co-Director')
      AND pm.release_date < m.release_date
      AND pm.vote_count >= 30  
)
SELECT 
    m.movie_id, 
    COALESCE(
        SUM(pm.vote_average * EXP(-? * days_difference)) / 
        SUM(EXP(-? * days_difference)), 
        (SELECT AVG(vote_average) FROM movie WHERE vote_count >= 30)  
    ) AS director_score
FROM movie m
LEFT JOIN past_movie pm ON m.movie_id = pm.movie_id
WHERE m.vote_count >= 30
GROUP BY m.movie_id;
"""

In [16]:
writers_query = """
WITH past_movie AS (
    SELECT 
        m.movie_id,
        mc1.person_id AS director_id, 
        pm.vote_average,
        pm.release_date AS prev_release_date,
        m.release_date AS current_release_date,
        JULIANDAY(m.release_date) - JULIANDAY(pm.release_date) AS days_difference
    FROM movie m
    JOIN movie_crew mc1 ON m.movie_id = mc1.movie_id  
    JOIN movie_crew mc2 ON mc1.person_id = mc2.person_id  
    JOIN movie pm ON mc2.movie_id = pm.movie_id  
    WHERE mc1.department = 'Writing' 
      AND mc2.department = 'Writing'
      AND pm.release_date < m.release_date
      AND pm.vote_count >= 30  
)
SELECT 
    m.movie_id, 
    COALESCE(
        SUM(pm.vote_average * EXP(-? * days_difference)) / 
        SUM(EXP(-? * days_difference)), 
        (SELECT AVG(vote_average) FROM movie WHERE vote_count >= 30)  
    ) AS writers_score
FROM movie m
LEFT JOIN past_movie pm ON m.movie_id = pm.movie_id
WHERE m.vote_count >= 30
GROUP BY m.movie_id;
"""

In [17]:
cast_query = """
WITH RelevantCast AS (
    -- Get top 10 cast members per movie (or fewer if there are fewer cast members)
    SELECT mc.movie_id, mc.person_id, mc.cast_order, m.release_date, m.vote_average
    FROM movie_cast mc
    JOIN movie m ON mc.movie_id = m.movie_id
    WHERE mc.cast_order <= 10 -- Consider only the top 10 billed actors
),
CastHistory AS (
    -- Join movies with their past appearances of cast members
    SELECT 
        m.movie_id,
        prev_m.vote_average AS past_vote_average,
        JULIANDAY(m.release_date) - JULIANDAY(prev_m.release_date) AS days_difference,
        rc.cast_order
    FROM movie m
    JOIN RelevantCast rc ON m.movie_id = rc.movie_id
    JOIN movie_cast prev_mc ON rc.person_id = prev_mc.person_id
    JOIN movie prev_m ON prev_mc.movie_id = prev_m.movie_id
    WHERE prev_m.release_date < m.release_date -- Only use past movies
    AND prev_m.vote_count >= 30 -- Only consider past movies with enough votes
)
SELECT 
    m.movie_id,
    CASE 
        WHEN SUM(EXP(-? * days_difference) * EXP(-? * cast_order)) = 0 
        THEN NULL
        ELSE SUM(past_vote_average * EXP(-? * days_difference) * EXP(-? * cast_order)) / 
             SUM(EXP(-? * days_difference) * EXP(-? * cast_order))
    END AS cast_score
FROM CastHistory
JOIN movie m ON CastHistory.movie_id = m.movie_id
WHERE m.vote_count >= 30
GROUP BY m.movie_id;
"""

In [18]:
production_company_query = """
WITH PastMovies AS (
    -- Get past movies with the same production company
    SELECT 
        m.movie_id,
        prev_mpc.company_id,
        prev_m.vote_average
    FROM movie m
    JOIN movie_production_company mpc ON m.movie_id = mpc.movie_id
    JOIN movie_production_company prev_mpc ON mpc.company_id = prev_mpc.company_id
    JOIN movie prev_m ON prev_mpc.movie_id = prev_m.movie_id
    WHERE prev_m.release_date < m.release_date
    AND prev_m.vote_count >= 30
),
CompanyAverages AS (
    -- Compute the average vote_average per production company
    SELECT 
        company_id,
        AVG(vote_average) AS company_avg_vote
    FROM PastMovies
    GROUP BY company_id
),
OverallAverage AS (
    -- Compute the overall average vote_average for all movies with enough votes
    SELECT AVG(vote_average) AS overall_avg_vote
    FROM movie
    WHERE vote_count >= 30
)
SELECT 
    m.movie_id,
    COALESCE(company_avg_vote, overall_avg_vote) AS production_company_score
FROM movie m
LEFT JOIN movie_production_company mpc ON m.movie_id = mpc.movie_id
LEFT JOIN CompanyAverages ca ON mpc.company_id = ca.company_id
CROSS JOIN OverallAverage
WHERE m.vote_count >= 30
GROUP BY m.movie_id;
"""

In [10]:
df_genre = data_processing.fetch_one_hot_genres(vote_count_min=30)
df_genre.head()

,movie_id,Adventure,Fantasy,Animation,Drama,Horror,Action,Comedy,History,Western,Thriller,Crime,Documentary,Science Fiction,Mystery,Music,Romance,Family,War,TV Movie
0,2,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
1,3,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
2,5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,6,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0
4,11,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0

In [19]:
with sqlite3.connect("../data/movies.db") as conn:
    cursor = conn.cursor()
    query = """SELECT * FROM movie_rating_features;"""
    df = pd.read_sql_query(query, conn)

In [20]:
with sqlite3.connect("../data/movies.db") as conn:
    df_d = pd.read_sql_query(director_query, conn, params=[lambda_director, lambda_director])
    df = pd.merge(df, df_d, on='movie_id')
    df_w = pd.read_sql_query(writers_query, conn, params=[lambda_writers, lambda_writers])
    df = pd.merge(df, df_w, on='movie_id')
    df_c = pd.read_sql_query(cast_query, conn, params=[lambda_cast_time, lambda_cast_order, lambda_cast_time, lambda_cast_order, lambda_cast_time, lambda_cast_order])
    df = pd.merge(df, df_c, on='movie_id')
    df_p = pd.read_sql_query(production_company_query, conn)
    df = pd.merge(df, df_p, on='movie_id')

In [24]:
df = pd.merge(df, df_genre, on='movie_id')

In [25]:
df.head()

,movie_id,vote_average,title,release_date,runtime,top_5_cast_ids,num_cast_members,director_ids,writer_ids,company_ids,...,Thriller,Crime,Documentary,Science Fiction,Mystery,Music,Romance,Family,War,TV Movie
0,5,5.858,Four Rooms,1995-12-09,98,"3129,3130,3131,3124,2555",28,"138,2294,3110,3111","138,2294,3110,3111","14,59",...,0,0,0,0,0,0,0,0,0,0
1,6,6.500,Judgment Night,1993-10-15,109,"2880,9777,5724,10822,12799",31,2042,"52035,52035,1088307","33,182,1644",...,1,1,0,0,0,0,0,0,0,0
2,11,8.200,Star Wars,1977-05-25,121,"2,3,4,5,12248",104,1,1,"1,25",...,0,0,0,1,0,0,0,0,0,0
3,12,7.817,Finding Nemo,2003-05-30,100,"13,14,12,5293,118",68,"7,8","7,7,10,11,32535,1236458,1994647,2004922,2216342",3,...,0,0,0,0,0,0,0,1,0,0
4,13,8.468,Forrest Gump,1994-06-23,142,"31,32,33,35,34",176,24,"26,27","4,412,21920",...,0,0,0,0,0,0,1,0,0,0

In [26]:
df.corr(numeric_only=True)["vote_average"].sort_values(ascending=False)

vote_average                1.000000
production_company_score    0.483047
cast_score                  0.438206
director_score              0.359231
writers_score               0.340222
Drama                       0.193750
Animation                   0.174042
runtime                     0.166764
Documentary                 0.161548
num_cast_members            0.135616
History                     0.110594
Music                       0.095662
movie_id                    0.092048
Family                      0.073582
War                         0.065152
Romance                     0.049247
Adventure                   0.033685
Fantasy                     0.032491
Crime                       0.029021
Western                     0.009024
TV Movie                   -0.006909
Mystery                    -0.014729
Action                     -0.048629
Comedy                     -0.063524
Science Fiction            -0.104036
Thriller                   -0.129379
Horror                     -0.294290
Name: vote_average, dtype: float64

In [29]:
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_date_numeric'] = df['release_date'].astype(int) / 10**9  # Unix timestamp in seconds

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27186 entries, 0 to 27185
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_id                  27186 non-null  int64
 1   vote_average              27186 non-null  float64
 2   title                     27186 non-null  object
 3   release_date              27186 non-null  datetime64[ns]
 4   runtime                   27186 non-null  int64
 5   top_5_cast_ids            27186 non-null  object
 6   num_cast_members          27186 non-null  int64
 7   director_ids              27153 non-null  object
 8   writer_ids                26248 non-null  object
 9   company_ids               25991 non-null  object
 10  genre_ids                 27161 non-null  object
 11  director_score            27186 non-null  float64
 12  writers_score             27186 non-null  float64
 13  cast_score                27186 non-null  float64
 14  production_company_score  27186 non-null  float64
 15  Adventure                 27186 non-null  int64
 16  Fantasy                   27186 non-null  int64
 17  Animation                 27186 non-null  int64
 18  Drama                     27186 non-null  int64
 19  Horror                    27186 non-null  int64
 20  Action                    27186 non-null  int64
 21  Comedy                    27186 non-null  int64
 22  History                   27186 non-null  int64
 23  Western                   27186 non-null  int64
 24  Thriller                  27186 non-null  int64
 25  Crime                     27186 non-null  int64
 26  Documentary               27186 non-null  int64
 27  Science Fiction           27186 non-null  int64
 28  Mystery                   27186 non-null  int64
 29  Music                     27186 non-null  int64
 30  Romance                   27186 non-null  int64
 31  Family                    27186 non-null  int64
 32  War                       27186 non-null  int64
 33  TV Movie                  27186 non-null  int64
 34  release_date_numeric      27186 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(22), object(6)
memory usage: 7.3+ MB

In [32]:
df = df.select_dtypes(include=['number'])
df.columns

Index(['movie_id', 'vote_average', 'runtime', 'num_cast_members',
       'director_score', 'writers_score', 'cast_score',
       'production_company_score', 'Adventure', 'Fantasy', 'Animation',
       'Drama', 'Horror', 'Action', 'Comedy', 'History', 'Western', 'Thriller',
       'Crime', 'Documentary', 'Science Fiction', 'Mystery', 'Music',
       'Romance', 'Family', 'War', 'TV Movie', 'release_date_numeric'],
      dtype='object')

## Models
### First, split the data for training and testing

In [33]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [34]:
# Define features (everything except 'vote_average')
X_train = train_df.drop(columns=['vote_average', 'movie_id'])
X_test = test_df.drop(columns=['vote_average', 'movie_id'])

# Define target
y_train = train_df['vote_average']
y_test = test_df['vote_average']

### Try Gradient Boosting. Results are poor:

In [35]:
from sklearn.ensemble import GradientBoostingRegressor

gbrt = GradientBoostingRegressor(n_estimators=100, random_state=42)
gbrt.fit(X_train, y_train)

print(gbrt.score(X_train, y_train))
print(gbrt.score(X_test, y_test))

0.4758453158052316
0.43779113887974075

### Random Forest looks more promising:

In [37]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

print("Training score:", rf.score(X_train, y_train))
print("Testing score:", rf.score(X_test, y_test))

Training score: 0.9244780838935711
Testing score: 0.4322204201586145

### The Random Forest model above is overfitting. Let's try tuning the parameters:

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

# Create a RandomForestRegressor model with regularization
rf_model = RandomForestRegressor(
    n_estimators=100,               # Reduce number of estimators
    max_depth=20,                   # Limit tree depth
    min_samples_split=10,           # Require more samples to split
    min_samples_leaf=5,             # Require more samples for leaf nodes
    max_features='sqrt',            # Limit features for each split
    random_state=42                 # Set a seed for reproducibility
)

# Perform 5-fold cross-validation
cross_val_scores = cross_val_score(rf_model, X_train, y_train, cv=5)

print(f"Cross-validation scores: {cross_val_scores}")
print(f"Average cross-validation score: {cross_val_scores.mean()}")

# Fit the final model
rf_model.fit(X_train, y_train)

# Evaluate on the test set
test_score = rf_model.score(X_test, y_test)
print(f"Test score: {test_score}")

Cross-validation scores: [0.44499502 0.46098759 0.46802591 0.47419116 0.45268065]
Average cross-validation score: 0.4601760657220123
Test score: 0.4485966676698373

In [41]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, StackingRegressor
from sklearn.linear_model import RidgeCV  # Meta-model

# Define the base models
rf = RandomForestRegressor(n_estimators=200, random_state=42)
gb = GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, random_state=42)

# Define the meta-model (can be simple, like Ridge Regression)
meta_model = RidgeCV()

# Create the stacking ensemble
stacking_model = StackingRegressor(
    estimators=[('rf', rf), ('gb', gb)],  # Base models
    final_estimator=meta_model,           # Meta-model
    cv=5  # Cross-validation for training base models
)

# Train the ensemble
stacking_model.fit(X_train, y_train)

# Predict on test set
y_pred = stacking_model.predict(X_test)

# Evaluate performance
print("Train score:", stacking_model.score(X_train, y_train))
print(" Test score:", stacking_model.score(X_test, y_test))

Train score: 0.7371299006007428
 Test score: 0.4529606203440504

### Linear Regression: without genres

In [45]:
X_train.columns

Index(['runtime', 'num_cast_members', 'director_score', 'writers_score',
       'cast_score', 'production_company_score', 'Adventure', 'Fantasy',
       'Animation', 'Drama', 'Horror', 'Action', 'Comedy', 'History',
       'Western', 'Thriller', 'Crime', 'Documentary', 'Science Fiction',
       'Mystery', 'Music', 'Romance', 'Family', 'War', 'TV Movie',
       'release_date_numeric'],
      dtype='object')

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd


# Define features:
features = ['director_score', 'writers_score', 'cast_score', 'production_company_score' 
            # , 'release_date_numeric', 'runtime', 'num_cast_members'
           ]

X_train = train_df.drop(columns=['vote_average', 'movie_id'])
X_test = test_df.drop(columns=['vote_average', 'movie_id'])

# Define target
y_train = train_df['vote_average']
y_test = test_df['vote_average']

linreg = LinearRegression()
linreg.fit(X_train, y_train)

print("Train score:", linreg.score(X_train, y_train))
print(" Test score:", linreg.score(X_test, y_test))

Mean Squared Error: 0.49543435927391904
R-squared: 0.391769481800892

Train score: 0.3992370855826849
 Test score: 0.391769481800892

In [44]:
# Optionally, view the model coefficients
coefficients = pd.DataFrame(linreg.coef_, X_train.columns, columns=["Coefficient"])
print(coefficients)

                           Coefficient
runtime                   2.627628e-03
num_cast_members          2.924310e-03
director_score            1.351408e-01
writers_score             1.222333e-01
cast_score                3.877744e-01
production_company_score  4.434709e-01
Adventure                -5.240955e-02
Fantasy                  -5.664763e-03
Animation                 4.140405e-01
Drama                     1.743669e-01
Horror                   -3.020230e-01
Action                   -6.775761e-02
Comedy                   -1.083679e-01
History                   7.396904e-02
Western                   2.075888e-02
Thriller                 -9.006284e-02
Crime                     4.729756e-02
Documentary               4.969146e-01
Science Fiction          -1.379915e-01
Mystery                   5.482931e-02
Music                     9.218571e-02
Romance                   1.037193e-02
Family                    3.750322e-02
War                       1.006805e-01
TV Movie                  1.726644e-01
release_date_numeric      6.876323e-11